<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{{url_for('main.index')}}">mTracker</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('experiments.view_experiments') }}">Experiments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('session_types.view_session_types') }}">Sessions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('surgery_types.view_surgery_types') }}">Surgeries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('data_types.view_data_types') }}">Data types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('groups.view_groups') }}">Groups</a>
            </li>
        </ul>
    </div>
</nav>